body {
    margin: 10px;
}

p {
    color: dodgerblue;
    border: 1px solid;
}

/* the strong element wont get its inheritance from the p tag when you definew */
strong {
    color: red;
    border: inherit;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
}