body {
    margin: 10px;
}

/* double colon for pseudo elements, and single colon for psuedo classes*/
p::first-letter {
    font-weight: bold;
}

/* pseudo element bolds first line */
p::first-line {
    font-weight: bold;
}

p::selection {
    background-color: red;
}

p::before {
    content: '...sadasd';
    display: block;
}

p::after {
    content: '...sadasd';
    display: block;
}